
body{
  
  counter-reset: section;
  font-size: 14px;


}


/*icon arrays*/


.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;



}

.btn {
  margin: 20px;
  width: 130px;
  height: 40px;
}

.chel-wrapper {
    position: relative;
    color: white;
    width: 40px;
    height: 50px;
    text-align:left;
    padding: 23px;
}

.chel-wrapper::before {
  position:relative;
  z-index: 1;
  counter-increment: section;
  content: counter(section);
  color: white;

}

.chel {
  position: absolute;
  fill: black;
  left: 0;
  top: 0;
}



#info {
  margin: 20px 20px;
  padding: 20px;
  background: #696fd7;
  font-size: 18px;
  color: white;
  border-radius: 5px;

}
.chel:hover {
  fill: #094793;

}



.active svg {
  fill: #d9534f;
}



/* Animation*/

.animation {
  margin-top: 30px;
  /*background: #e4e4e4;*/
  border-radius: 20px;
  padding: 20px;

}

h4 {
  padding: 20px 0 0 20px;


}

p {
  padding: 20px 0 0 20px;
}

.many-factors div {
  display: inline-block;
  margin: 60px;
  border-radius: 50%;
  font-size: 15px;
  line-height: 100px;
  text-align: center;


}

/*Vommiting*/


.box svg {
  fill: #696fd7;
  height: 70px;
  width: 70px;
}

.transform svg {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.transform-active svg {

  height: 120px;
  width: 120px;
  /*-webkit-filter: drop-shadow( 10px 10px 0px rgba(0, 0, 0, .7)rgba(0, 0, 0, .7));
  filter: drop-shadow(  10px 10px 0px  rgba(0, 0, 0, .7));*/

}

/*Pain*/

.box1 svg {
  fill: #bfc4f4;
  height: 70px;
  width: 70px;
}

.transform1 svg {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.transform1-active svg {
  height: 100px;
  width: 100px;
  /* stroke: #39A02E;
   stroke-width: 5;
   stroke-opacity: .3; */

 /*-webkit-filter: drop-shadow( 10px 10px 0px rgba(0, 0, 0, .7)rgba(0, 0, 0, .7));
  filter: drop-shadow(  10px 10px 0px  rgba(0, 0, 0, .7));*/

}

/*Appetite loss*/

.box2 svg {
  fill: #a5ace9;
  height: 70px;
  width: 70px;
}

.transform2 svg {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.transform2-active svg {
  height: 110px;
  width: 110px;
  /*-webkit-filter: drop-shadow( 10px 10px 0px rgba(0, 0, 0, .7)rgba(0, 0, 0, .7));
  filter: drop-shadow(  10px 10px 0px  rgba(0, 0, 0, .7));*/


}

/*Insomnia*/

.box3 svg {
  fill: #4946c7;
  height: 70px;
  width: 70px;
}

.transform3 svg {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.transform3-active svg {
  height: 140px;
  width: 140px;
  /*-webkit-filter: drop-shadow( 10px 10px 0px rgba(0, 0, 0, .7)rgba(0, 0, 0, .7));
  filter: drop-shadow(  10px 10px 0px  rgba(0, 0, 0, .7));*/


}

/*Diahhrea*/

.box4 svg {
  fill: #6a4289;
  height: 70px;
  width: 70px;
}

.transform4 svg {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.transform4-active svg {
  height: 160px;
  width: 160px;
/* -webkit-filter: drop-shadow( 10px 10px 0px rgba(0, 0, 0, .7)rgba(0, 0, 0, .7));
  filter: drop-shadow(  10px 10px 0px  rgba(0, 0, 0, .7));*/


}
